<div class="jumbotron" style="background-color: rgb(15, 240, 221)">
  <h1 class="display-4" style="text-align: center"><a class="fa fa-home" style="font-size: 4rem;text-decoration: none;color: black" [routerLink]="['/']"></a>World Map!</h1>
  <p class="lead" style="text-align: center">This is a simple world map, a map where you can find each and every region,country and it's details</p>
  <hr class="my-4">
  <p style="text-align: center"> A world map is a map of most or all of the surface of the Earth.</p>
</div>

<br/>
<router-outlet></router-outlet>
